.app__container {


}
.app__header {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  border: 1px solid lightgray;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
.app__headerControls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.app__logo{
  width: 6%;
  min-width: 150px;
  object-fit: contain;
}
.app__posts {
  display: flex;
  justify-content: center;

}


.app__mainPostsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.app__userSuggestions {
  margin-left: 20px;
}

@media (max-width: 414px ) {
  .app__header {
    display: flex;
    flex-direction: column;
  }
  .app__posts  {
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .app__userSuggestions {
    display: none;
  }
}