.app__container {
  align-items: center;  
  justify-content: center;
}
.app__header {
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  border: 1px solid lightgray;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.app__headerControls div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.app__headerControls img{
  width: 50%;
  object-fit: contain;
}
.app__posts {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}